<template>
  <draggable
    :class="{
      __block__draggable: edit,
      '__block__container--horizontal': !isVertical,
      '__block__container--vertical': isVertical
    }"
    group="blocks"
    @start="drag = true"
    @end="drag = false"
    v-model="children"
  >
    <block
      v-for="block in children"
      :dataProp="block.data"
      :id="block.id"
      :key="block.id"
      :path="path"
      :settingsProp="block.settings"
      :styleProp="block.style"
      :type="block.type"
      :value="block"
      @input="onInput"
      @remove-block="onRemoveBlock"
    />
  </draggable>
</template>

<script>
import draggable from "vuedraggable";
import { mapState } from "vuex";

export default {
  name: "container",

  components: { draggable },

  data() {
    return {
      children: []
    };
  },

  props: {
    direction: {
      type: String,
      required: false,
      default: "vertical"
    },

    path: {
      type: Array,
      required: true
    },

    value: {
      type: Array,
      required: true
    }
  },

  computed: {
    ...mapState({
      edit: state => state.mode === "edit"
    }),

    isVertical() {
      return this.direction === "vertical";
    }
  },

  methods: {
    onChange() {
      this.$emit("input", this.children);
    },

    onInput(block) {
      this.children = this.children.map(child => {
        if (child.id === block.id) {
          return block;
        }
        return child;
      });
      this.$emit("input", this.children);
    },

    onRemoveBlock(id) {
      this.children = this.children.filter(block => {
        if (id !== block.id) {
          return block;
        }
      });
    }
  },

  watch: {
    children: "onChange"
  },

  beforeCreate() {
    this.$options.components.block = require("../block").default;
  },

  created() {
    this.children = this.value;
  }
};
</script>
