<template>
  <div>
    <img v-if="!edit" class="__block__image" :src="data" />
    <div v-else class="__block__image__src">
      <label>src:</label>
      <input v-model="data" />
    </div>
  </div>
</template>

<script>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

export default {
  name: "image-block",

  data() {
    return {
      data: ""
    };
  },

  props: {
    edit: {
      type: Boolean,
      required: true
    },

    value: {
      type: String,
      required: false,
      default: ""
    }
  },

  computed: {
    // Font Awesome
    faCheck: () => faCheckSquare
  },

  methods: {
    onChange() {
      this.$emit("input", this.data);
    }
  },

  watch: {
    edit: "onChange"
  },

  created() {
    this.data = this.value;
  }
};
</script>
