<template>
  <div>
    <a v-if="!edit" :href="href">{{ text }}</a>
    <div v-else>
      <div>
        <label>text:</label>
        <input v-model="text" />
      </div>
      <div>
        <label>link</label>
        <input v-model="href" />
      </div>
      <i class="button" @click="onChangeMode">ok</i>
    </div>
  </div>
</template>

<script>
export default {
  name: "link-block",

  data() {
    return {
      href: "",
      text: ""
    };
  },

  props: {
    edit: {
      type: Boolean,
      required: true
    },

    value: {
      type: Object,
      required: true
    }
  },

  methods: {
    onChange() {
      if (this.text.length === 0) {
        this.text = this.href;
      }
      this.$emit("input", {
        href: this.href,
        text: this.text
      });
    },

    onChangeMode() {
      this.edit = !this.edit;
    }
  },

  watch: {
    edit: "onChange"
  },

  created() {
    this.href = this.value.href;
    this.text = this.value.text;
  }
};
</script>
