<template>
  <div>
    <div :style="displayEditor">
      <textarea :id="`mde_${id}`" />
    </div>
    <div :style="displayContent" v-html="html" />
  </div>
</template>

<script>
import EasyMDE from "easymde";
import marked from "marked";

export default {
  data() {
    return {
      data: "",
      id: 0,
      mde: null
    };
  },

  props: {
    edit: {
      type: Boolean,
      required: true
    },

    value: {
      type: String,
      required: false,
      default: ""
    }
  },

  computed: {
    displayContent() {
      return {
        display: this.edit ? "none" : "block"
      };
    },

    displayEditor() {
      return {
        display: this.edit ? "block" : "none"
      };
    },

    html() {
      return marked(this.data);
    },
    // Font Awesome
    faEdit: () => faEdit
  },

  methods: {
    onChange() {
      this.$emit("input", this.data);
    }
  },

  watch: {
    edit: "onChange"
  },

  created() {
    this.id = Math.floor(Math.random() * 2 ** 32);
    this.data = this.value;
  },

  mounted() {
    this.mde = new EasyMDE({
      autoDownloadFontAwesome: true,
      element: document.getElementById(`mde_${this.id}`),
      initialValue: this.data,
      toolbar: [
        "bold",
        "italic",
        "heading",
        "|",
        "quote",
        "ordered-list",
        "unordered-list",
        "link",
        "image",
        "|",
        "side-by-side",
        "fullscreen",
        "|",
        "guide",
        "|",
        {
          name: "preview",
          action: () => {
            this.onChangeMode();
          },
          className: "fa fa-eye no-disable",
          title: "Preview"
        }
      ]
    });
    this.mde.codemirror.on("change", () => {
      this.data = this.mde.value();
    });
  }
};
</script>
