<template>
  <div>
    <p v-if="!edit">{{ data }}</p>
    <div v-else>
      <div>
        <label>text:</label>
        <input v-model="data" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "string-block",

  data() {
    return {
      data: ""
    };
  },

  props: {
    edit: {
      type: Boolean,
      required: true
    },

    value: {
      type: String,
      required: true,
      default: ""
    }
  },

  methods: {
    onChange() {
      this.$emit("input", this.data);
    }
  },

  watch: {
    edit: "onChange"
  },

  created() {
    this.data = this.value;
  }
};
</script>
