<template>
  <div class="__app">
    <div class="__app__topbar">
      <mode />
      <screen />
      <div>Save</div>
    </div>

    <div class="__app__container">
      <editor />
      <sidebar />
    </div>
  </div>
</template>

<script>
import editor from "./editor";
import mode from "./mode";
import screen from "./screen";
import sidebar from "./sidebar";

export default {
  components: { editor, mode, screen, sidebar }
};
</script>
