<template>
  <div class="__sidebar__block-group">
    <div class="__sidebar__block-group__header">
      <label>{{ name }}</label>
    </div>

    <draggable
      :clone="onClone"
      :group="{ name: 'blocks', pull: 'clone', put: false }"
      @start="drag = true"
      @end="drag = false"
      v-model="blocks"
    >
      <div
        v-for="(block, index) in blocks"
        class="__sidebar__block-group__block"
        :key="`${block.type}_${index}`"
      >
        <label>{{ block.type }}</label>
        <div class="space" />
      </div>
    </draggable>
  </div>
</template>

<script>
import draggable from "vuedraggable";
import { genId } from "../utils/utils";

export default {
  components: { draggable },

  props: {
    blocks: {
      type: Array,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    query: {
      type: String,
      required: false,
      default: ""
    }
  },

  methods: {
    onClone(block) {
      return { ...block, id: genId() };
    }
  }
};
</script>
