<template>
  <div
    :class="[
      '__block',
      {
        '__block--edit': edit,
        '__block--preview': !edit,
        '__block--selected': selected && edit
      }
    ]"
  >
    <div v-if="edit" class="__block__header" @mousedown="onSelect">
      <div>
        <label>{{ type.toLowerCase() }}</label>
      </div>

      <div>
        <font-awesome-icon
          v-if="isEditable && !editBlock"
          class="__block__icon"
          :icon="faEdit"
          @click="onEdit"
        />
        <font-awesome-icon
          v-if="isEditable && editBlock"
          class="__block__icon"
          :icon="faEye"
          @click="onEdit"
        />
        <font-awesome-icon
          v-if="!isPage"
          class="__block__icon __block__icon--delete"
          :icon="faTrash"
          @click="onRemove"
        />
        <font-awesome-icon
          class="__block__icon"
          :icon="faPalette"
          @click="onStyle"
        />
        <font-awesome-icon
          class="__block__icon"
          :icon="faCogs"
          @click="onSettings"
        />
        <font-awesome-icon
          v-if="!isPage"
          class="__block__icon __block__icon--grab"
          :icon="faArrows"
        />
      </div>
    </div>

    <div :class="{ __block__content: edit }">
      <container
        v-if="type === 'CONTAINER' || type === 'PAGE'"
        v-model="data"
        :direction="settings[0].data"
        :path="path.concat(id)"
        :style="style"
      />
      <image-block
        v-else-if="type === 'IMAGE'"
        v-model="data"
        :edit="editBlock"
        :style="style"
      />
      <link-block
        v-else-if="type === 'LINK'"
        v-model="data"
        :edit="editBlock"
        :style="style"
      />
      <markdown
        v-else-if="type === 'MARKDOWN'"
        v-model="data"
        :edit="editBlock"
        :style="style"
      />
      <string
        v-else-if="type === 'STRING'"
        v-model="data"
        :edit="editBlock"
        :style="style"
      />
    </div>
  </div>
</template>

<script>
import {
  faArrowsAlt,
  faCogs,
  faEdit,
  faEye,
  faPalette,
  faTrashAlt
} from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { mapState } from "vuex";
import container from "./blocks/container";
import imageBlock from "./blocks/image";
import linkBlock from "./blocks/link";
import markdown from "./blocks/markdown";
import string from "./blocks/string";

export default {
  name: "block",

  components: {
    container,
    FontAwesomeIcon,
    imageBlock,
    linkBlock,
    markdown,
    string
  },

  data() {
    return {
      editBlock: false,
      selected: false,
      settings: [],
      styleData: []
    };
  },

  props: {
    dataProp: {
      required: true
    },

    id: {
      type: String,
      required: true
    },

    path: {
      type: Array,
      required: true
    },

    settingsProp: {
      type: Array,
      default: () => []
    },

    styleProp: {
      type: Array,
      default: () => []
    },

    type: {
      type: String,
      required: true
    },

    value: {
      type: Object,
      required: true
    }
  },

  computed: {
    ...mapState({
      edit: state => state.mode === "edit"
    }),

    data: {
      get() {
        return this.dataProp;
      },

      set(data) {
        const block = {
          ...this.getBlock(),
          data: data
        };
        // this.updateBlock(block);
        this.$emit("input", block);
      }
    },

    isEditable() {
      return this.type !== "PAGE" && this.type !== "CONTAINER";
    },

    isPage() {
      return this.type === "PAGE";
    },

    style() {
      return this.styleData.reduce((acc, val) => {
        acc[val.name] = val.data;
        return acc;
      }, {});
    },

    // Font Awesome
    faArrows: () => faArrowsAlt,
    faCogs: () => faCogs,
    faEdit: () => faEdit,
    faEye: () => faEye,
    faPalette: () => faPalette,
    faTrash: () => faTrashAlt
  },

  methods: {
    getBlock() {
      return {
        id: this.id,
        path: this.path.concat(this.id),
        data: this.data,
        settings: this.settings,
        style: this.styleData,
        type: this.type
      };
    },

    onEdit() {
      this.editBlock = !this.editBlock;
    },

    onRemove() {
      const remove = confirm("Remove block?");
      if (remove) {
        this.$emit("remove-block", this.id);
      }
    },

    onSelect(tab = null) {
      this.$store.commit("selectBlock", {
        selectCallback: this.select,
        settings: this.settings,
        settingsCallback: this.setSettings,
        style: this.styleData,
        styleCallback: this.setStyle,
        tab: tab,
        unselectCallback: this.unselect
      });
    },

    onSettings() {
      this.onSelect(2);
    },

    onStyle() {
      this.onSelect(1);
    },

    select() {
      this.selected = true;
    },

    setSettings(settings) {
      this.settings = settings;
      const block = {
        ...this.getBlock(),
        settings: settings
      };
      this.updateBlock(block);
    },

    setStyle(style) {
      this.styleData = style;
      const block = {
        ...this.getBlock(),
        style: style
      };
      this.updateBlock(block);
    },

    unselect() {
      this.selected = false;
    },

    updateBlock(block) {
      this.$store.commit("setBlock", {
        block: block,
        path: block.path
      });
    }
  },

  watch: {
    dataProp: {
      deep: true
    }
  },

  created() {
    this.settings = this.settingsProp;
    this.styleData = this.styleProp;
  }
};
</script>
