<template>
  <div
    :class="[
      '__editor',
      { '__editor--edit': edit, '__editor--preview': !edit }
    ]"
  >
    <block
      :dataProp="data"
      :id="id"
      :path="[]"
      :settingsProp="settings"
      :styleProp="style"
      :type="type"
    />
  </div>
</template>

<script>
import { mapState } from "vuex";
import block from "./block";
import Settings from "../utils/settings";

export default {
  components: { block },

  computed: {
    ...mapState({
      data: state => state.page.data,
      edit: state => state.mode === "edit",
      id: state => state.page.id,
      page: state => state.page,
      settings: state => state.page.settings,
      style: state => state.page.style,
      type: state => state.page.type
    }),

    initialStyle() {
      return [Settings.color("background"), Settings.color("color")];
    }
  }
};
</script>
