<template>
  <div class="mode" @click="onChangeMode">
    {{ mode }}
  </div>
</template>

<script>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

export default {
  components: { FontAwesomeIcon },

  data() {
    return {
      mode: "edit"
    };
  },

  methods: {
    onChangeMode() {
      if (this.mode === "edit") {
        this.mode = "preview";
      } else {
        this.mode = "edit";
      }
      this.$store.state.mode = this.mode;
    }
  }
};
</script>

<style scoped lang="scss">
.mode {
  margin: 0 1em;
  cursor: pointer;
}
</style>
