<template>
  <div class="screen" @click="onChangeMode">
    {{ screen }}
  </div>
</template>

<script>
export default {
  data() {
    return {
      screen: "desktop"
    };
  },

  methods: {
    onChangeMode() {
      if (this.screen === "desktop") {
        this.screen = "mobile";
      } else {
        this.screen = "desktop";
      }
      this.$store.state.screen = this.screen;
    }
  }
};
</script>
