<template>
  <div
    :class="[
      '__sidebar',
      { '__sidebar--edit': edit, '__sidebar--preview': !edit }
    ]"
  >
    <div class="__sidebar__tab-group">
      <div
        :class="['__sidebar__tab', { '__sidebar__tab--active': tab === 0 }]"
        @click="onSetTab(0)"
      >
        Blocks
      </div>
      <div
        :class="['__sidebar__tab', { '__sidebar__tab--active': tab === 1 }]"
        @click="onSetTab(1)"
      >
        Style
      </div>
      <div
        :class="['__sidebar__tab', { '__sidebar__tab--active': tab === 2 }]"
        @click="onSetTab(2)"
      >
        Settings
      </div>
    </div>

    <div v-if="tab === 0">
      <block-group
        v-for="(group, index) in groups"
        :blocks="group.blocks"
        :key="`group_${index}`"
        :name="group.name"
      />
    </div>
    <style-settings v-else-if="tab === 1" />
    <settings v-else />
  </div>
</template>

<script>
import { mapState } from "vuex";
import Blocks from "../utils/blocks";
import blockGroup from "./block-group";
import settings from "./settings/settings";
import styleSettings from "./settings/style";

export default {
  components: { blockGroup, settings, styleSettings },

  data() {
    return {
      groups: [
        {
          name: "Basic",
          blocks: [Blocks.container(), Blocks.link()]
        },
        {
          name: "Media",
          blocks: [Blocks.image()]
        },
        {
          name: "Text",
          blocks: [Blocks.markdown(), Blocks.string()]
        }
      ]
    };
  },

  computed: mapState({
    edit: state => state.mode === "edit",
    tab: state => state.tab
  }),

  methods: {
    onSetTab(tab) {
      this.$store.state.tab = tab;
    }
  }
};
</script>
