@import "colors";

.__block {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;

  label {
    font-size: 1em;
    margin-right: 1em;
  }
}

.__block--edit {
  border-bottom: dashed $white 1px;
  border-left: dashed $white 1px;
  border-right: dashed $white 1px;
  border-radius: 3px;
  border-top: solid $white 1px;
  margin: 0.5em;
}

.__block--preview {
}

.__block__content {
  min-height: 1em;
  padding: 0.5em;
}

.__block__header {
  background: $white;
  color: $black;
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.8em;
  justify-content: space-between;
  padding: 0.1em 0.5em;
}

.__block__icon {
  border: solid $black 1px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1em;
  height: 1em;
  margin: 0.1em;
  padding: 0.2em;
  width: 1em;

  &:hover {
    background: $light-blue;
    color: $white;
  }
}

.__block__icon--delete {
  &:hover {
    background: $pink;
  }
}

.__block__icon--grab {
  cursor: grab !important;

  &:hover {
    background: $blue-grey;
  }
}

.__block--selected {
  box-shadow: 0 0 5px 5px $pink;
}

.__block__container--horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.__block__container--vertical {
  display: flex;
  flex-direction: column;
}

.__block__image {
  max-width: 100%;
}

.__block__image__src {
  display: flex;
  width: 100%;
}

.__block__draggable {
  border: dashed $white-ter 1px;
  border-radius: 3px;
  min-height: 4em;
}
