@import "colors";

.__sidebar {
  background: $white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: fixed;
  top: 2em;
  transition: all 0.5s ease;
  width: 24vw;
}

.__sidebar--edit {
  right: 0;
}

.__sidebar--preview {
  right: -100%;
}

.__sidebar__block-group {
  box-sizsing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
  padding: 0 1em;
}

.__sidebar__block-group__block {
  border-radius: 3px;
  border: dashed $blue 1px;
  cursor: grab;
  margin: 0.5em 1em 0 0.5em;

  .space {
    height: 2em;
  }
}

.__sidebar__block-group__header {
  display: flex;
  flex-wrap: nowrap;
}

.__sidebar__tab {
  background: $white-ter;
  border-bottom: solid $black 1px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.__sidebar__tab--active {
  background: none;
  border-bottom: none;
}

.__sidebar__tab-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 2em;
  justify-content: space-evenly;
}
