@import "../../node_modules/easymde/dist/easymde.min.css";
@import "colors";
@import "blocks";
@import "editor";
@import "sidebar";

body {
  background: #03a9fa;
  font-size: 16px;
  margin: 0;
}

label {
  font-size: 0.8em;
}

p {
  margin: 0;
  padding: 0;
}

.__app {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  width: 100vw;
}

.__app__container {
  display: flex;
  flex-wrap: nowrap;
}

.__app__topbar {
  align-items: center;
  background: $white;
  box-sizing: content-box;
  display: flex;
  height: 2em;
  justify-content: space-between;
}
