<template>
  <div>
    <compact v-model="color" />
  </div>
</template>

<script>
import { Compact } from "vue-color";

export default {
  components: { Compact },

  data() {
    return {
      color: "#fff"
    };
  },

  props: {
    name: {
      type: String,
      required: true
    }
  },

  methods: {
    onChange() {
      this.$emit("set-option", this.name, this.color.hex);
    }
  },

  watch: {
    color: "onChange"
  }
};
</script>
