<template>
  <div class="number">
    <input v-model="data" type="number" />
    <select v-if="units.length > 0" v-model="unit">
      <option v-for="unit in units" :key="unit.value" :value="unit.value">
        {{ unit.name }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: 0,
      unit: ""
    };
  },

  props: {
    name: {
      type: String,
      required: true
    },

    units: {
      type: Array,
      required: false,
      default: () => []
    },

    value: {
      type: Number,
      default: 0
    }
  },

  methods: {
    onChange() {
      this.$emit("set-option", this.name, `${this.data}${this.unit}`);
    }
  },

  watch: {
    data: "onChange",
    unit: "onChange"
  },

  created() {
    this.data = this.value;
  }
};
</script>

<style scoped lang="scss">
.number {
  display: flex;
}
</style>
