<template>
  <select v-model="selected">
    <option v-for="option in options" :key="option" :value="option">
      {{ option }}
    </option>
  </select>
</template>

<script>
export default {
  data() {
    return {
      selected: ""
    };
  },

  props: {
    name: {
      type: String,
      required: true
    },
    options: {
      type: Array,
      required: true
    },
    value: {
      type: String,
      required: false
    }
  },

  methods: {
    onInput() {
      this.$emit("set-option", this.name, this.selected);
    }
  },

  watch: {
    selected: "onInput"
  },

  created() {
    this.selected = this.value;
  }
};
</script>
