<template>
  <div>
    <div v-for="(setting, index) in settings" :key="`setting_${index}`">
      <label>{{ setting.name }} </label>
      <option-block
        v-if="setting.type === 'OPTION'"
        :name="setting.name"
        :options="setting.options"
        :value="setting.data"
        @set-option="setOption"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import optionBlock from "./option";

export default {
  components: { optionBlock },

  data() {
    return {
      settings: []
    };
  },

  methods: {
    setOption(name, data) {
      this.settings = this.settings.map((val, i) => {
        if (val.name === name) {
          return {
            ...val,
            data: data
          };
        }
        return val;
      });
      this.$store.commit("setSettings", this.settings);
    }
  },

  created() {
    this.settings = this.$store.state.blockSettings;
  }
};
</script>
