<template>
  <div>
    <div v-for="option in style">
      <label>{{ option.name }}</label>
      <color
        v-if="option.type === 'COLOR'"
        :name="option.name"
        @set-option="onSetOption"
      />
      <number
        v-else-if="option.type === 'NUMBER'"
        :name="option.name"
        :units="option.units"
        :value="option.data"
        @set-option="onSetOption"
      />
    </div>
  </div>
</template>

<script>
import color from "./color";
import number from "./number";

export default {
  components: { color, number },

  data() {
    return {
      style: []
    };
  },

  methods: {
    onSetOption(name, data) {
      this.style = this.style.map(val => {
        if (val.name == name) {
          return {
            ...val,
            data: data
          };
        }
        return val;
      });
      this.$store.commit("setStyle", this.style);
    }
  },

  created() {
    this.style = this.$store.state.blockStyle;
  }
};
</script>
